body {
  margin: 0 auto;
  text-align: center;
  padding: 5%;
}
.calculator input   {
  text-align: center;
  text-align: right;
  width: 196px;
  height: 50px;
}

.calculator-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  margin: 0 auto;
 
}
.calc-button {
  display: flex;
  justify-content: space-around; /* literki na środku */
  width: 50px;
  height: 50px;
}

.zero,
.equals   {
  width: 100px;
}